

/*Updated -1/19/2018*/

/* 
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;

/* Change font size and color of main menu buttons */

prm-main-menu[menu-type=menu] .md-button {
     font-size: 16px;
     color: #18386b;    
}


/*Modify color of right-hand side of banner -- Circle with Pin and Guest Box*/
  .prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bookmark-filter .md-button, prm-main-menu[menu-type="full"] md-backdrop, prm-user-area, prm-user-area md-fab-trigger > .md-button .md-fab-toolbar-background {
    background-color: #fff; }

prm-user-area .user-menu-button .user-name {
    text-transform: none;
    font-weight: 600;
    color: #18386b;
    text-align: left;
    max-width: 150px;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important {
      background-color: #fff !important; }


prm-topbar > 

.prm-primary-bg.prm-hue1, prm-browse-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar {
    background-color: #fff;
}

prm-topbar >
.prm-primary-bg, prm-browse-search-bar, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after, prm-tags-search-bar {
    background-color: #53738C;
}

prm-logo > 
.hoverable-over-dark, .md-button.button-over-dark, prm-main-menu[menu-type="full"] .md-button.md-focused, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type="full"] .md-button:focus, prm-main-menu[menu-type="full"] .md-button:hover, prm-main-menu[menu-type="full"] .md-button md-select:focus, prm-main-menu[menu-type="full"] .overlay-menu-item.md-focused, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type="full"] .overlay-menu-item:focus, prm-main-menu[menu-type="full"] .overlay-menu-item:hover, prm-main-menu[menu-type="full"] .overlay-menu-item md-select:focus, prm-main-menu[menu-type="full"] md-card:focus, prm-main-menu[menu-type="full"] md-card:hover, prm-topbar .md-button, prm-user-area .md-button.user-menu-button, prm-user-area md-fab-toolbar ._md-fab-action-item .md-button, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container, prm-user-area md-fab-toolbar .md-fab-action-item .md-button, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container {
    color: #18386b;
    
}

/* Main Menu and Favorites - make hover text/color maroon instead of white */

.hoverable-over-dark:focus:not([disabled]), .hoverable-over-dark:hover:not([disabled]), .md-button.button-over-dark:focus:not([disabled]), .md-button.button-over-dark:hover:not([disabled]), prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:hover:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button:hover:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select:hover:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:hover:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item:hover:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select:hover:focus:not([disabled]), prm-main-menu[menu-type="full"] md-card:focus:not([disabled]), prm-main-menu[menu-type="full"] md-card:hover:not([disabled]), prm-topbar .md-button:focus:not([disabled]), prm-topbar .md-button:hover:not([disabled]), prm-user-area .md-button.user-menu-button:focus:not([disabled]), prm-user-area .md-button.user-menu-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) {
    color: #18386b ;
}

/* Change background color for header*/

.prm-primary-bg.prm-hue1, prm-journals-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
     background-color: #fff;
}

/* Change color of sign-in, search history, and favorites buttons */
prm-topbar .md-button { 
  color: #18386b;      
 }    

/*  Change color of text for Guest or username  */
prm-user-area .user-menu-button .user-name {
	color: #18386b;
}

/* Change background color surrounding results to white */

body, md-content, md-content.md-primoExplore-theme {	
     background-color: #fff;
} 

/* hide/show other institutions button */
.hide_show_other_institutions_button {
    color: #FFF;
    background-color: #A33F1F;
    background-image: none;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    padding: 7px 24px;
}

/* hide/show other institutions button - on hover */
.hide_show_other_institutions_button:hover {
    background-color: #b5654c;
}