#readPanel .entryContent {
  font-size:1.15em;
  line-height:1.47;
}
#readPanel .sidebar {
  border:0px solid #aaa;
  margin-bottom:1.5em;
}
#readPanel .sidebar .title {
  background-color:#1E4C8A;
  padding:0.75em 1.5em;
  color:#fff;
  font-size:1.1em;
}
#readPanel .sidebar .title p:last-child { margin-bottom:0; }
#readPanel .sidebar .div1 {
  padding:1.3em 1.5em;
  background-color:#eee;
}
#readPanel .sidebar .div1 p:last-child { margin-bottom:0; }
#readPanel #contentRoot .verseType ul.lineGroup { margin-bottom:1em; }
#readPanel #contentRoot .verseType ul.lineGroup:last-child { margin-bottom:0; }
#readPanel #contentRoot span.enlargeImageLink { color:#ed5f21; }
