/* 
    The following styles are intended to do a reset on the .cxs-content-root div so that
    clients have a clean slate for applying their own styles.
*/
.cxs-content-root {
  line-height: 1;
}
.cxs-content-root div, .cxs-content-root span, .cxs-content-root applet, .cxs-content-root object, .cxs-content-root iframe,
.cxs-content-root h1, .cxs-content-root h2, .cxs-content-root h3, .cxs-content-root h4, .cxs-content-root h5, .cxs-content-root h6, .cxs-content-root p, .cxs-content-root blockquote, .cxs-content-root pre,
.cxs-content-root a, .cxs-content-root abbr, .cxs-content-root acronym, .cxs-content-root address, .cxs-content-root big, .cxs-content-root cite, .cxs-content-root code,
.cxs-content-root del, .cxs-content-root dfn, .cxs-content-root em, .cxs-content-root img, .cxs-content-root ins, .cxs-content-root kbd, .cxs-content-root q, .cxs-content-root s, .cxs-content-root samp,
.cxs-content-root small, .cxs-content-root strike, .cxs-content-root strong, .cxs-content-root sub, .cxs-content-root sup, .cxs-content-root tt, .cxs-content-root var,
.cxs-content-root b, .cxs-content-root u, .cxs-content-root i, .cxs-content-root center,
.cxs-content-root dl, .cxs-content-root dt, .cxs-content-root dd, .cxs-content-root ol, .cxs-content-root ul, .cxs-content-root li,
.cxs-content-root fieldset, .cxs-content-root form, .cxs-content-root label, .cxs-content-root legend,
.cxs-content-root table, .cxs-content-root caption, .cxs-content-root tbody, .cxs-content-root tfoot, .cxs-content-root thead, .cxs-content-root tr, .cxs-content-root th, .cxs-content-root td,
.cxs-content-root article, .cxs-content-root aside, .cxs-content-root canvas, .cxs-content-root details, .cxs-content-root embed,
.cxs-content-root figure, .cxs-content-root figcaption, .cxs-content-root footer, .cxs-content-root header, .cxs-content-root hgroup,
.cxs-content-root menu, .cxs-content-root nav, .cxs-content-root output, .cxs-content-root ruby, .cxs-content-root section, .cxs-content-root summary,
.cxs-content-root time, .cxs-content-root mark, .cxs-content-root audio, .cxs-content-root video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.cxs-content-root article, .cxs-content-root aside, .cxs-content-root details, .cxs-content-root figcaption, .cxs-content-root figure,
.cxs-content-root footer, .cxs-content-root header, .cxs-content-root hgroup, .cxs-content-root menu, .cxs-content-root nav, .cxs-content-root section {
  display: block;
}
.cxs-content-root ol, .cxs-content-root ul {
  list-style: none;
}
.cxs-content-root blockquote, .cxs-content-root q {
  quotes: none;
}
.cxs-content-root blockquote:before, .cxs-content-root blockquote:after,
.cxs-content-root q:before, .cxs-content-root q:after {
  content: '';
  content: none;
}
.cxs-content-root table {
  border-collapse: collapse;
  border-spacing: 0;
}
