span.ftr-pop-up-image {
    background:url(../img/popover-icon-light-png.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    cursor:pointer;
    width:12px;
    height:12px;
    display:inline-block;
}
span.ftr-pop-up-image:hover {
    background:url(../img/popover-icon-png.png);
}

span.ftr-pop-up-parent {
	position:relative;
	display:inline-block;
}

span.ftr-pop-up {
	display:none;
	position:absolute;
	padding:1em;
	background-color:#fff;
	border: 1px solid #ccc;
	border-radius:4px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	min-width:160px;
	z-index:9999;
}
span.ftr-pop-up::before {
	border: solid transparent;
	content: " ";
	height: 0px;
	left:50%;
	pointer-events: none;
	position:absolute;
	top:100%;
	width:0px;
}
span.ftr-pop-up::before, span.ftr-pop-up::after {
	border-top-color:#fff;
	border-width:9px;
	margin-left:-9px;
}
span.ftr-pop-up-list-item-not-last::after
{
	content:"\a";
	white-space:pre;
}
ul.ftr-pop-up-list
{
	display:block;
}