
#odoPopupWidget { 
    position: absolute; 
    background: #E7E5DA; 
    border: 1px solid #000000; 
    width: 400px; 
    z-index: 50000;
    padding: 10px;
    visibility: hidden;
}

.bottomLeftArrow #odoPopupWidget:after, .bottomLeftArrow #odoPopupWidget:before { 
    top: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
}

.bottomLeftArrow #odoPopupWidget:after { 
    border-color: #E7E5DA transparent transparent;
    border-top-color: #E7E5DA; 
    border-width: 10px; 
    left: 50px; 
    margin-left: -10px; 
}

.bottomLeftArrow #odoPopupWidget:before { 
    border-color: #000000 transparent transparent;
    border-top-color: #000000; 
    border-width: 11px; 
    left: 50px; 
    margin-left: -11px; 
}


.bottomRightArrow #odoPopupWidget:after, .bottomRightArrow #odoPopupWidget:before { 
    top: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
}

.bottomRightArrow #odoPopupWidget:after { 
    border-color: #E7E5DA transparent transparent;
    border-top-color: #E7E5DA; 
    border-width: 10px; 
    left: 350px; 
    margin-left: -10px; 
}

.bottomRightArrow #odoPopupWidget:before { 
    border-color: #000000 transparent transparent;
    border-top-color: #000000; 
    border-width: 11px; 
    left: 350px; 
    margin-left: -11px; 
}



.topLeftArrow #odoPopupWidget:after, .topLeftArrow #odoPopupWidget:before { 
    bottom: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
    
}

.topLeftArrow #odoPopupWidget:after { 
    border-color:  transparent transparent #E7E5DA;
    border-bottom-color: #E7E5DA; 
    border-width: 10px; 
    left: 50px; 
    margin-left: -10px; 
}

.topLeftArrow #odoPopupWidget:before { 
    border-color: transparent transparent #000000;
    border-bottom-color: #000000; 
    border-width: 11px; 
    left: 50px; 
    margin-left: -11px; 
}


.topRightArrow #odoPopupWidget:after, .topRightArrow #odoPopupWidget:before { 
	bottom: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	
}

.topRightArrow #odoPopupWidget:after { 
	border-color:  transparent transparent #E7E5DA;
	border-bottom-color: #E7E5DA; 
	border-width: 10px; 
	left: 350px; 
	margin-left: -10px; 
}

.topRightArrow #odoPopupWidget:before { 
	border-color: transparent transparent #000000;
	border-bottom-color: #000000; 
	border-width: 11px; 
	left: 350px; 
	margin-left: -11px; 
}

#odoPopupWidget .close {
	float: right;
}

