/**********************************************************************
	Styles for OxEncycl Content
**********************************************************************/

.titlesuffix sup { margin-right:.75em; }

/* ------------->>> Figures */

.figureGroup .articleimage {
	clear: left; /* not sure the clear is necessary */
	float: left;
	margin: 5px 28px 8px 0;
	max-width: 300px; 
}
.figureGroup .articleimage .enlargeImageLink { 	
	margin-top: 5px;
	font-size: .846em;
	font-style: italic;
	display: block; 
}
.enlargeImageLink {
	cursor: pointer;
}
.figureGroup .articleimage img {
	border: none;
	margin: 0;
	position: relative;
	max-width: 300px;
}
.figureGroup .caption {
	color: #666;
	margin: 0.455em 0 0; /* 5px */
}
.figureGroup .caption p {
	/* NOTE: !important used to override ".mainBase #readPanel p" rule for ORO */ 
	font-size:0.846em !important; /* 11px */
	line-height:1.364em !important; /* 15px */
	margin: 0 0 0.727em !important; /* 8px */
}
.figureGroup .articleimage .view { }
.figureGroup .articleimage .enumerator {
	font-style: italic;
	margin-right: 0.333em;
}

