#readPanel p {
  font-size:14px;
  line-height:1.5em;
}
#readPanel h1#pagetitle { font-size:24px; }
#readPanel h1 {
  font-size:24px;
  line-height:1.3em;
  font-family:Georgia,Serif;
}
#readPanel .pdftitle h1#pagetitle { font-size:12px; }
#readPanel #contentRoot h1 p {
  font-size:24px;
  line-height:1.3em;
  font-family:Georgia,Serif;
  padding:inherit;
  margin:inherit;
}
#readPanel #contentRoot h1 {
  margin-bottom:0.75em;
  margin-top:2em;
}
#readPanel #contentRoot a .pageNumber,
#readPanel #contentRoot h1.pageNumber {
  background-color:#e3e3e3;
  border:0;
  border-radius:3px;
  color:#666 !important;
  font-weight:bold;
  font-size:9px !important;
  line-height:10px;
  margin:0 6px 0 3px !important;
  padding:2px 0 3px 6px !important;
  vertical-align:2px;
  display:inline-block;
}
#readPanel footer.pdf p {
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size:10px;
  line-height:1.2em;
}
#readPanel footer.pdf .pageNumber,
#readPanel footer.pdf .pageNumber span {
  background-color:#fff;
  border:none;
  color:#333 !important;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size:8px !important;
  font-weight:normal !important;
  padding:0;
  margin:5px 0 5px 0 !important;
  text-align:left;
}
#readPanel .abstractPlus,
#readPanel .abstractMinus {
  padding-left:0px;
  background:none;
}
#readPanel .entryAuthorBiographies {
  width:auto;
  margin-left:0;
}
