#cssXslControls {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 0 10px 5px 10px;
    background: #cccccc;
    border: solid 1px #e98300;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

#cssXslControls input {
    float: left;
}

#cssXslControls label {
    display: block;
}

#cssXslControls legend {
    font-weight: bold;
    padding-top: 5px;
}

#cssXslControls input {
    margin-left: 10px;
}

#cssXslControls input[type="submit"] {
    background-color: #e98300;
    border-color: #fed100;
    margin-top: 5px;
}

.lbl-cxs-address {
    margin-left: 10px;
}