.btn {
  border-radius: 5px;
  font-weight: 400;
  font-family: "Arvo", serif; }
  .btn:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn .fa {
  margin-right: 0.2em; }
  .btn .fa:last-child {
    margin-right: 0; }

.btn-default {
  background-color: #0b6a8e;
  border-color: #0b6a8e;
  color: #ffffff; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .open > .btn-default.dropdown-toggle {
    background-color: #07475f;
    border-color: #07475f;
    color: #ffffff; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active {
    background-color: #0b6a8e;
    border-color: #0b6a8e;
    color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40); }

.btn-primary {
  background-color: #94ba4d;
  border-color: #94ba4d;
  color: #ffffff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
    background-color: #78993b;
    border-color: #78993b;
    color: #ffffff; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active {
    background-color: #94ba4d;
    border-color: #94ba4d;
    color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40); }

.btn-secondary {
  background-color: #f1f2f2;
  border-color: #f1f2f2;
  color: #0b6a8e; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .open > .btn-secondary.dropdown-toggle {
    background-color: #d7d9d9;
    border-color: #d7d9d9;
    color: #07475f; }
  .btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active {
    background-color: #f1f2f2;
    border-color: #f1f2f2;
    color: #0b6a8e;
    opacity: 0.4;
    filter: alpha(opacity=40); }

.btn-link {
  color: #0b6a8e;
  font-family: "Open Sans", sans-serif; }
  .btn-link:hover, .btn-link:focus, .btn-link:active {
    text-decoration: none;
    color: #07475f; }
  .btn-link.btn-danger {
    color: #d9534f; }
    .btn-link.btn-danger:hover, .btn-link.btn-danger:focus, .btn-link.btn-danger:active {
      color: #c9302c; }

.social-share-widget-ct .btn-default,
.btn-share {
  background-color: #f8d982;
  border-color: #f8d982;
  color: #ffffff; }
  .social-share-widget-ct .btn-default:hover, .social-share-widget-ct .btn-default:focus, .social-share-widget-ct .btn-default:active, .open > .social-share-widget-ct .btn-default.dropdown-toggle,
  .btn-share:hover,
  .btn-share:focus,
  .btn-share:active, .open >
  .btn-share.dropdown-toggle {
    background-color: #f5ca52;
    border-color: #f5ca52;
    color: #ffffff; }
  .social-share-widget-ct .btn-default.disabled, .social-share-widget-ct .btn-default.disabled:hover, .social-share-widget-ct .btn-default.disabled:focus, .social-share-widget-ct .btn-default.disabled:active, .social-share-widget-ct .btn-default[disabled], .social-share-widget-ct .btn-default[disabled]:hover, .social-share-widget-ct .btn-default[disabled]:focus, .social-share-widget-ct .btn-default[disabled]:active,
  .btn-share.disabled,
  .btn-share.disabled:hover,
  .btn-share.disabled:focus,
  .btn-share.disabled:active,
  .btn-share[disabled],
  .btn-share[disabled]:hover,
  .btn-share[disabled]:focus,
  .btn-share[disabled]:active {
    background-color: #f8d982;
    border-color: #f8d982;
    color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40); }

.btn-social-provider {
  width: 100%;
  padding: 9px 20px;
  height: 38px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 9px; }
  @media only screen and (max-width: 767px) {
    .btn-social-provider {
      background-position-x: 5px; } }
  @media only screen and (max-width: 480px) {
    .btn-social-provider {
      background-position-x: 5px; } }
  .btn-social-provider.mod-clever {
    background-image: url('/static/newdesign/images/socialaccount/clever_logo.png');
    color: #ffffff;
    background-color: #3065a7;
    border-color: #3065a7; }
    .btn-social-provider.mod-clever:hover, .btn-social-provider.mod-clever:focus, .btn-social-provider.mod-clever:active {
      background-color: #254d7f; }

.btn-outline {
  background-color: #ffffff;
  border-color: #e6e6e6;
  color: #15315a; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .open > .btn-outline.dropdown-toggle {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #0b1a31; }
  .btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #adadad;
    opacity: 0.4;
    filter: alpha(opacity=40); }
